@page
{
	size: auto;   /* auto is the initial value */
	/* this affects the margin in the printer settings */
	margin: 8mm 11mm;
}
body
{
	/* this affects the margin on the content before sending to printer */
	margin: 0px;
	font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans;
	font-size: .8em;
	font-weight: 100;
/*	background: url('../imgs/face320b.png') no-repeat bottom left;*/
	margin: 1em;
}
@media all {
	.page-break  { display: none; }
}
@media print {
	.content.projects .group, .group p {
	   page-break-inside: avoid;
	}
    .page-break  {
        display: block;
        page-break-before: always;
    }
	.no-print, title {
	   display: none;
	}
	.profiler-results {
	   display: none;
	}
	body{
	   margin: 0;
	}
}
a {
    text-decoration: none;
    color: #39f;
}
h1, th {
    font-weight: normal;
}
h1 img {
    width: 80px;
    position: relative;
    top: 2em;
}
h1 small {
    font-size: .5em;
    font-weight: 100;
}
.row, .row div {
    padding: 0;
    margin: 0;
}
.row {
    clear: both;
}
.row .head {
    float: left;
    width: 25%;
    margin: .7em 0em .5em 0em;
    font-size: 1.5em;
    text-align: right;
    clear: both;
    position: relative;
}
.row .head p {
    font-size: .6em;
    position: relative;
/*    text-align: left;*/
    width: 300%;
    top: -.4em;
    left: 95%;
}
.row .content {
    width: 80%;
    padding-right: 7px;
    float: right;
    position: relative;
}
.row .content .group {
    position: relative;
    background: #eee;
    padding: .3em .5em;
    margin-top: .6em;
    border-radius: 4px;
    clear: both;
    box-shadow: 2px 2px 2px rgba(0,0,0, .31);
}
.row .content .group h4 {
    margin-top: .5em;
}
.row .content:before {
	content: ' ';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	left: .7em;
	top: -1.6em;
	border: 1.2em solid;
	border-color: rgba(255,255,255,0) rgba(255,255,255,0) #eee  rgba(255,255,255,0);
}
.row:after, .row .content .group:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.tags{
    position: absolute;
    left: -23%;
    width: 20%;
    top: -0em;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    font-size: .8em;
}
.tags li.title{
    display: none;
}
.tags li {
    float: left;
    background: #eee;
    border-radius: 3px;
    padding: 2px;
    margin: 1px 2px;

}
.row .contact {
    float: right;
    text-align: right;
}
.row .contact img{
    position: relative;
    top: 4px;
    padding: 2px;
    margin-left: .5em;
}
.group h4 small {
    float: right;
    position: relative;
    top: 2px;
    text-align: right;
}
.group h4 b, .group h4 small a {
    display: block;
    font-weight: normal;
    clear: both;
}
.group h4 small a {
    clear: right;
}
.group h4 {
    font-weight: normal;
    border-bottom: dashed 1px #ccc;
}
.content.about {
    font-style: italic;
    font-weight: 100;
}
.about .tags {
    font-style: normal;
}
.about .tags .title {
    display: block;
    width: 100%;
    clear: both;
    background: none;
    font-size: 1.2em;
}
table.languages td:last-child{
    text-align: center;
}
.misc h4 {
    height: 0;
    position: relative;
    top: 1.9em;
}
.misc .block {
    position: relative;
    top: -1em;
    float: left;
    margin-left: 2em;
}
/* HACK to display the last section's header */
.page-break {
    height: 1em;
    width: 100%;
/*    background: #f00;*/
    display: block;
    clear: both;
}